*, html {
    margin:0;
    padding:0;
    font-family: Arial;
}

body{
    background-color: #a1dbff;
    max-width: 100%;
    overflow-x: hidden;
}

h1.headMessage{
    font-family: Arial;
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
    position: relative;
}

#messagePost{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

#postList{
    width: 50%;
    margin: 0 auto;
    padding: 15px;
}

#post{
    background-color: rgba(255, 255, 255, 0.3);
    font-family: serif;
}

textarea{
    width: 500px;
    height: 150px;
    resize: none;
}

#pagination{
    margin: 0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#pagination:hover{
    background-color: black;
}

#pagination:link{
    text-decoration: none;
}

#pagination:visited{
    text-decoration: none;
}


#header{
    background: #a1dbff; /* Old browsers */
    background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 68%, #f0f9ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 68%,#f0f9ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 68%,#f0f9ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
    padding: 15px;
}

#header #donate{
    position: absolute;
    right: 0px;
    margin-right: 15px;
    z-index:1;
}

#sorting{
    background-image: url(./images/grass.png);
    height: 50px;
}

#sorting #buttons {
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}

.sortActive{
    font-weight: bold;
}

.sort{
    color: black;
    margin: 0px 5px;
}

.sort:link{
    text-decoration: none;
}

.sort:visited{
    text-decoration: none;
}

#dirt {
    background-image: url(./images/dirtSmall.png);
    background-color: rosybrown;
}

 .text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

#post{
    padding: 5px;
}

#likeNum{
    display: inline-block;
    font-family: serif;
}

button.like{
    display: inline-block;
}

#footer{
    width: 50%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

#pageNumbers{
    text-align: right;
}

::-webkit-input-placeholder {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    line-height: 110px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 25px;
    text-align: center;
    line-height: 110px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 25px;
    text-align: center;
    line-height: 110px;
}

:-ms-input-placeholder {
    font-size: 25px;
    text-align: center;
    line-height: 110px;
}

#pageList{
    display: inline-block;
    color: white;
    text-align: center;
    margin: 2px 2px;
}

.active{
    background-color: black;
}

.dots{
    margin: 0;
}
