*, html {
    margin:0;
    padding:0;
    font-family: Arial;
}

body{
    background-color: #a1dbff;
    position: absolute;
    width: 100vw;
}



.headerWrap{
    
}

.bodySubmitWrap{
    height: 100vh;
}

.footerSubmit{
    background-color: #f0f9ff;
    color: black;
}

#submitButton{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.submitSection{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    position: relative;
}

.ad{
    background-color: rgba(230, 230, 230, 0.7);
    margin-bottom: 10px;
}

.socialShare{
    background-color: rgba(230, 230, 230, 0.7);
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid black;
}

.submitWrap{
    min-height: 100%;
}

h1.headMessage{
    font-family: Arial;
    color: white;
    -webkit-text-stroke: 1px black;
    position: relative;
    display: inline-block;
    line-height: 70px;
    clear: both;
}

#happyMessage{
    border-radius: 5px;
    height: 150px;
    width: 100%;
    resize: none;
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 16px;
}

.contactInput{
    border-radius: 5px;
    resize: none;
    border: 2px solid lightgray;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

#nickname{
    border-radius: 5px;
    resize: none;
    border: 2px solid lightgray;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

textarea{
    display: block;
    box-sizing: border-box;
}

.formFold{
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
}

#messagePost{
    background-color: #32aae1;
    color: white;
    line-height: 1.5;
    width: 50%;
    margin: 20px auto;
    padding: 25px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    text-align: left;
    box-shadow: 10px 10px 5px grey;
    overflow: auto;
}

#content{
    margin: 0 auto;
    width: 1000px;
}

#postList{
    width: 690px;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 5px;
}

#pagination{
    margin: 0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#pagination:hover{
    background-color: black;
}

#pagination:link{
    text-decoration: none;
}

#pagination:visited{
    text-decoration: none;
}

.animateRight{
    position: absolute;
    left: -200px;
    top: 60px;
    width: 150px;
    height: 75px;
}

#headerBar{
    padding: 0px 20px;
}

.slash{
    display: inline-block;
    color: black;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
}

.navList{
    display: inline-block;
    margin: 0px 10px;
    list-style: none;
    text-align: center;
    float: right;
}

.nav{
    line-height: 70px;
    display: inline-block;
    margin: 0px 10px;
}

.navLink{
    font-size: 18px;
    font-weight: bold;
}

.navLink:link{
    text-decoration: none;
    color: black;
}

.navLink:visited{
    text-decoration: none;
    color: black;
}

.navLink:hover{
    color: white;
}

iframe[id^="oauth2relay"]{
    display: none!important;
}

.about{
    width: 60%;
    margin: 20px auto;
    font-size: 20px;
}

#header{
    padding-bottom: 20px;
    background: #a1dbff; /* Old browsers */
    background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 68%, #f0f9ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 68%,#f0f9ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 68%,#f0f9ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
}

#sorting{
    background-image: url(./images/grass.png);
    height: 50px;
}

#sorting #buttons {
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

#sidebar{
    float: right;
    width: 300px;
    margin: 5px 0;
}

.sortActive{
    font-weight: bold;
}

.sort{
    color: black;
    margin: 0px 5px;
}

.sort:link{
    text-decoration: none;
}

.sort:visited{
    text-decoration: none;
}

#dirt {
    background-image: url(./images/dirtSmall.png);
    background-color: rosybrown;
    float: left;
    width: 100%;
}

 .text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.tagline{
    color: lightgray;
    text-align: center;
}

#post{
    padding: 10px;
    font-family: serif;
    font-size: 20px;
    background-color: rgba(230, 230, 230, 0.7);
    border: 2px solid black;
}

#likeNum{
    display: inline-block;
    font-family: serif;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid black;
    padding: 2px 5px;
    text-align: center;
    background-color: white;
}

button.like{
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
}

#paginationDiv{
    padding-top: 10px;
}

#postsOnly{
    
}

#footer{
    width: 75%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    color: white;
    clear: both;
}

.bottomPage{
    clear: both;
}

#pageNumbers{
    text-align: right;
}

.introMessage{
    margin: 0 auto;
    width: 600px;
    height: 200px;
    position: relative;
    border-radius: 8px;
    z-index: 2;
    background-color: rgb(102, 196, 255);
    box-shadow: 10px 10px 5px grey;
}

.introText{
    line-height: 70px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
}

::-webkit-input-placeholder {
    font-size: 16px;
    color: lightgray;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    color: lightgray;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 16px;
    color: lightgray;
}

:-ms-input-placeholder {
    font-size: 16px;
    color: lightgray;
}

#pageList{
    display: inline-block;
    color: white;
    text-align: center;
    margin: 2px 2px;
}

.active{
    background-color: black;
}

.dots{
    margin: 0;
}
